body {
    background-image:url(images/pokemonWallpaper.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
}

.loader{
    position : fixed;
    z-index: 9999;
    background : url('images/pikachuRunning.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}

.textLoading{
         font-size: 250%;
             font-family: impact;
             color:white;
             top : 50%;
             left : 50%;
             height : 100%;
             width : 100%;
             text-align: center;
}
#pokeInfoResults{
    color:#FFFFFF;
}