<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/image.css"/>

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->

        <div class="searchPokemon" ng-controller="MainController as vm">
            <div class= "loader" ng-show="state == 'LOADING'"><div class ="textLoading" >Loading...</div></div>

		<!-- Pokémon information -->
		<div>
            <input type = "text" name="MyPokeFilter" ng-model="myPokemonFilter" placeholder="Pokemon name">
            <!--<p> Affichage ID : {{myPokemonFilter}}</p>-->

            <label for="pokemonSelect"> Pokemon selection : </label>
            <select name="pokemonSelection" id="pokemonSelect" ng-model="pokemonList">
                <option value="#">----Select ----</option>
                <!-- // ng-repeat = une boucle for : for i in tab....-->
                <option ng-repeat="option in pokemonList | filter:myPokemonFilter" value="{{option.entry_number">{{option.pokemon_species.name}}</option>
            </select>

            <button class="btn btn-primary" ng-click="showLoader(); go(pokemonList)"> GO GET THEM ! </button>

         <div class="pokemonResutltsDisplay" ng-controller="pokemonDetailsController" >
             <div ng-show="state =='SUCCESS'"></div>
             <p>
                 Resultats de la recherche : {{myPokemon.pokemonID}}
             </p>
             <p>
                 {{uri}}
             </p
         </div>


    </div>
	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
