<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cheisda_Sonic</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/image.css"/>

</head>
<body ng-app="pokedex">

	<div class="container" >
		<h1>Pokésir</h1>

		<!-- Search -->

        <div class="searchPokemon" ng-controller="MainController as vm">
            <!--LOADER-->
            <div class= "loader" ng-show="loading"></div>
            <div class ="textLoading" ng-show="loading" >Loading...</div>




     <!-- Pokémon information -->
		<div>
            <input type = "text" name="MyPokeFilter" ng-model="myPokemonFilter" placeholder="Pokemon name">
            <!--<p> Affichage ID : {{myPokemonFilter}}</p>-->
            <label for="pokemonSelect"> Pokemon selection : </label>
            <select name="pokemonSelection" id="pokemonSelect" ng-model="data.selectedPokemon">
                <option value="#">----Select ----</option>
                <option ng-repeat="pokemon in data.pokemons |filter:myPokemonFilter" value="{{pokemon.entry_number}}" >
                    {{ pokemon.entry_number }} - {{pokemon.pokemon_species.name}}
                </option>
            </select>
            <button class="btn btn-primary" ng-click="showLoader(); go(data.selectedPokemon)" > GO GET THEM ! </button>
        </div><!--MainCtler-->

     <div class="pokemonResutltsDisplay" id="pokeInfoResults" ng-controller="pokemonDetailsController" >

         <div ng-show="myPokemon"><u><i>Nom :</i></u> {{myPokemon.names[4].name}}</div>
         <div ng-show="myPokemon"><u><i>Couleur  :</i></u> {{myPokemon.color.name}}</div>
         <div ng-show="myPokemon"><u><i>Egg_group :</i></u> {{myPokemon.egg_groups[0].name}}</div>
         <div ng-show="myPokemon"><u><i>Forme :</i></u> {{myPokemon.shape.name}}</div>
         <div ng-show="myPokemon"><u><i>Evolution de :</i></u> {{myPokemon.evolves_from_species.name}}</div>
         <div ng-show="myPokemon" class="attributes"><u><i>Flavor text French :</i></u>
             {{myPokemon.flavor_text_entries[5].flavor_text}} {{myPokemon.flavor_text_entries[21].flavor_text}}
             {{myPokemon.flavor_text_entries[29].flavor_text}}, {{myPokemon.flavor_text_entries[37].flavor_text}}
         </div>
         <div ng-show="myPokemon"><u><i>Genara :</i></u> {{myPokemon.genera[4].genus}}</div>
         <div ng-show="myPokemon"><u><i>growth_rate :</i></u> {{myPokemon.growth_rate.name}}</div>
         <div ng-show="myPokemon"><u><i>Habitat :</i></u> {{myPokemon.habitat.name}}</div>
        </div>
        </div>


    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
