<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/image.css"/>

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->

        <div class="searchPokemon" ng-controller="MainController as vm">
            <!--LOADER-->


		<!-- Pokémon information -->
		<div>
            <input type = "text" name="MyPokeFilter" ng-model="myPokemonFilter" placeholder="Pokemon name">
            <div class= "loader" ng-show="state == 'LOADING'">
                <div class ="textLoading" >Loading...</div>
            </div>
            <!--<p> Affichage ID : {{myPokemonFilter}}</p>-->

            <label for="pokemonSelect"> Pokemon selection : </label>
            <select name="pokemonSelection" id="pokemonSelect" ng-model="data.selectedPokemon">
                <option value="#">----Select ----</option>
                <!-- // ng-repeat = une boucle for : for i in tab....-->
                <option ng-repeat="pokemon in data.pokemons |filter:myPokemonFilter" value="{{pokemon.entry_number}}">{{ pokemon.entry_number }} - {{pokemon.pokemon_species.name}}</option>
                </select>

                        <button class="btn btn-primary" ng-click="showLoader(); go(data.selectedPokemon)"> GO GET THEM ! </button>
            <pre> {{myPokemon}}</pre>

          <!-- <div ng-repeat="pokemon2 in myPokemonData.name"> {{pokemon2.myPokemonData.name}} - {{pokemon2.myPokemonData.url}}</div> -->
        </div><!--MainCtler-->

<!--        <div class="pokemonResutltsDisplay" id="pokeInfoResults" ng-controller="pokemonDetailsController" >
            <div class= "succes" ng-show="state == 'LOADING'"></div>

             <div ng-model="pokemonC" value="">
                <p>Resultats de la recherche : {{pokemon}}</p>
                <button class="btn btn-primary" ng-click="hideLoader()"> Afficher les résultats </button>
                 {{myPokemon}}

             </div>
         </div>

-->
    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
